In [89]:
import numpy as np
import pandas as pd

In [90]:
quad_gps_x_frame = pd.read_csv('config/log/Graph1.txt')
quad_gps_x_frame.columns = ['time', 'Quad.GPS.X']
quad_gps_x_frame[:10]

       time  Quad.GPS.X
0  0.105000    0.929729
1  0.205000   -0.850943
2  0.305000   -0.294885
3  0.404998    0.645242
4  0.504997   -0.905385
5  0.604996   -0.284876
6  0.704994    0.274991
7  0.804993    0.895015
8  0.904992   -0.066778
9  1.004991   -0.078368

In [91]:
quad_accel_x_frame = pd.read_csv('config/log/Graph2.txt')
quad_accel_x_frame.columns = ['time', 'Quad.IMU.AX']
quad_accel_x_frame[:10]

    time  Quad.IMU.AX
0  0.005     0.143543
1  0.010    -0.840799
2  0.015     0.020170
3  0.020    -0.815555
4  0.025     0.888912
5  0.030    -0.284647
6  0.035    -1.129378
7  0.040    -0.493124
8  0.045     0.121738
9  0.050    -0.382381

In [92]:
MeasuredStdDev_GPSPosXY = np.std(quad_gps_x_frame['Quad.GPS.X'])
MeasuredStdDev_AccelXY = np.std(quad_accel_x_frame['Quad.IMU.AX'])

print('MeasuredStdDev_GPSPosXY = %.2f' % MeasuredStdDev_GPSPosXY)
print('MeasuredStdDev_AccelXY = %.2f' % MeasuredStdDev_AccelXY)

MeasuredStdDev_GPSPosXY = 0.70
MeasuredStdDev_AccelXY = 0.50

In [93]:
np.mean(np.abs(quad_gps_x_frame['Quad.GPS.X']) < MeasuredStdDev_GPSPosXY)

0.6779324055666004

In [94]:
np.mean(np.abs(quad_accel_x_frame['Quad.IMU.AX']) < MeasuredStdDev_AccelXY)

0.6899563318777293